/1.pdf
/check_img.PNG
/dara_shop_telegram_aiogram.rar
/file_31.jpg
/venv
/__pycache__
/files
/handlers/client_new_giftbox.py
/handlers/__pycache__/
/db/__pycache__/
/msg/__pycache__/
/handlers/__pycache__/
/stable-diffusion
/img
db_dara_store_telegram.db
/handlers/client_payload_tattoo_order.py
/handlers/client_generate_tattoo_item.py
/handlers/client_new_giftbox.py
/db/json
to_do_list_file.txt
/lib/
/keyboards/__pycache__